@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {

    .navButton {
        @apply align-bottom px-4 py-4 text-[#77b1f7] uppercase text-lg  transition-all cursor-pointer hover:text-orange-400
    }
    .logo {
        @apply px-6 py-1 text-[#77b1f7] rounded-full uppercase text-lg  transition-all
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .show-scrollbar::-webkit-scrollbar {
        display: inside;
    }

    .show-scrollbar {
        -ms-overflow-style: auto;
        scrollbar-width: auto;
    }

    .custom-scrollbar-y {
        @apply scrollbar scrollbar-track-[#27282b] scrollbar-thumb-orange-400 
    }

    .custom-scrollbar-x {
        @apply scrollbar scrollbar-track-[#202124] scrollbar-thumb-orange-400 
    }

    .shiny-light {
        position: relative;
        overflow: hidden;    
    }
      
    .shiny-light::after {
        content: '';
        position: absolute;
        width: 500px;
        left: var(--x);
        top: var(--y);
        height: 500px;
        opacity: 0.2;
        background: radial-gradient(circle closest-side, #49cea8, transparent);
        transform: translate(-50%, -50%);
        cursor: pointer;
        
    }

    .tilt {
        transition: all 0.1s ease;
        cursor: pointer;
        perspective: 500px;
        transform: rotateX(var(--xR)) rotateY(var(--yR));

    }
}